/* CSS Document */
/*----------------------------------------
				reset
----------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  outline: 0;
  border: none;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

ol, ul {
  quotes: none;
}

li {
  list-style-type: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  text-decoration: none;
  vertical-align: baseline;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
  border: none;
}

img {
  vertical-align: top;
  font-size: 0;
  line-height: 0;
}

button {
  outline: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/*----------------------------------------
				header
----------------------------------------*/
h1 {
  width: 200px;
  height: 56px;
  margin-left: 20px;
  margin-right: 10%;
}

h1 img {
  width: auto;
  height: 56px;
}

#global_nav {
  width: 100%;
  height: 70px;
  background-color: #3cb371;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#header_search_area {
  width: 40%;
  min-width: 300px;
  height: 50px;
  position: relative;
}

#header_search_area input {
  width: 80%;
  height: 50px;
  padding-left: 10px;
  margin-right: 0;
  background-color: #E6E6E6;
  border-radius: 10px 0 0 10px;
  outline: 0;
}

#header_search_area button {
  width: 20%;
  height: 50px;
  background-color: #FACC2E;
  border: none;
  border-radius: 0 10px 10px 0;
  position: absolute;
  top: 0;
  right: 0;
}

#header_login_area {
  width: 30%;
}

#header_login_area button {
  width: 150px;
  height: 40px;
  font-size: 1em;
  margin-right: 15px;
  background-color: #FACC2E;
  border-radius: 8px;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.3);
}

/*----------------------------------------
				navi
----------------------------------------*/
nav {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  text-align: center;
  background-color: #81F781;
  display: flex;
  justify-content: space-between;
}

nav ul {
  width: 100%;
  height: 50px;
  padding: 0 20px 0 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav li {
  width: 15%;
  height: 35px;
  background-color: #fff;
  border: solid #E6E6E6 1px;
}

nav a {
  width: 100%;
  height: 100%;
  color: #000000;
  line-height: 35px;
  display: block;
}

nav button {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: #FACC2E;
}

/*----------------------------------------
				footer
----------------------------------------*/
footer {
  width: 100%;
  height: 400px;
  padding: 40px 12% 10px 12%;
  color: #E6E6E6;
  background-color: #3cb371;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer h3 {
  font-size: 1.3em;
  padding-bottom: 10px;
  margin-bottom: 15px;
  border-bottom: solid #E6E6E6 1px;
}

footer li {
  font-size: 1.1em;
  margin-bottom: 20px;
}

footer a {
  color: #E6E6E6;
}

footer .guide, footer .about_of_masarudo, footer .linsk {
  width: 33.3%;
  padding-right: 60px;
  margin-bottom: 40px;
}

footer .trade_mark {
  width: 100%;
  text-align: center;
}

/*----------------------------------------
				body
----------------------------------------*/
body {
  background-color: #E4E4E4;
  padding-bottom: 50px;
}

li {
  list-style-type: none;
  list-style-position: outside;
}

.top {
  display: flex;
  height: 40px;
  background-color: white;
  border-bottom: solid gray 1px;
}

.top p:nth-of-type(1) {
  width: 70px;
}

.top p:nth-last-of-type(1) {
  width: 95%;
  padding-top: 10px;
  color: gray;
}

.area {
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: white;
}

.area ul {
  display: flex;
  margin-bottom: 30px;
}

.area li {
  width: 150px;
  height: 150px;
  background-color: lightgray;
}

.area p {
  display: flex;
  padding-top: 5px;
  margin-bottom: 20px;
  text-align: right;
  font-size: 20px;
}

.area strong {
  width: 80%;
  text-align: left;
  position: relative;
  left: 0px;
  padding-top: 5px;
  padding-left: 30px;
  font-weight: normal;
}

.area span {
  width: 20%;
  padding-right: 30px;
}

.area p:nth-last-of-type(1) {
  font-size: 30px;
}

.sell p {
  width: 50%;
  height: 60px;
  padding-top: 15px;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  background-color: #F68C8C;
  border-radius: 50px;
}

.sell a {
  color: white;
  text-decoration: none;
  display: block;
}
