@charset "UTF-8";
/* CSS Document */

form{
  width: 100%;
  margin: 30px auto 30px;
  text-align: center;
}
form table{
  margin: 0 auto 30px;
}
form table tr,td:first-child{
  width: 200px;
}
form table tr,td:last-child{
  width: 350px;
  padding: 12px;
  border: solid #000000 1px;
}
form table tr td:first-child{
  background-color: #E0ECF8;
}
form table tr.birthday ul{
  display: flex;
  justify-content: center;
}
form table tr.birthday ul li{
  padding-left: 5px;
}
form table tr,td input{
  width: 80%;
}
form table span{
  font-size: 0.8em;
  color: #FE2E2E;
  margin-top: 10px;
}