/* CSS Document */
/*----------------------------------------
				reset
----------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  outline: 0;
  border: none;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

ol, ul {
  quotes: none;
}

li {
  list-style-type: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  text-decoration: none;
  vertical-align: baseline;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
  border: none;
}

img {
  vertical-align: top;
  font-size: 0;
  line-height: 0;
}

button {
  outline: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/*----------------------------------------
				header
----------------------------------------*/
header {
  width: 100%;
  height: 70px;
  background-color: #3cb371;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  width: 30%;
  min-width: 200px;
  height: 56px;
  padding-left: 20px;
}

header h1 img {
  width: auto;
  height: 56px;
}

header .header_search_area {
  width: 40%;
  min-width: 300px;
  height: 50px;
  position: relative;
}

header .header_search_area input {
  width: 80%;
  height: 50px;
  padding-left: 10px;
  margin-right: 0;
  background-color: #E6E6E6;
  border-radius: 10px 0 0 10px;
  outline: 0;
}

header .header_search_area button {
  width: 20%;
  height: 50px;
  background-color: #FACC2E;
  border: none;
  border-radius: 0 10px 10px 0;
  position: absolute;
  top: 0;
  right: 0;
}

header .header_login_area {
  width: 30%;
  padding-left: 20px;
  display: flex;
  justify-content: space-around;
}

header .header_login_area p {
  width: 45%;
  max-width: 150px;
  height: 40px;
  font-size: 1em;
  margin-right: 15px;
  text-align: center;
  line-height: 40px;
  background-color: #FACC2E;
  border-radius: 8px;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.3);
}

header .header_login_area a {
  color: #000;
  display: block;
}

/*----------------------------------------
				nav
----------------------------------------*/
nav {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  text-align: center;
  background-color: #81F781;
  display: flex;
  justify-content: space-between;
}

nav > ul {
  width: 100%;
  height: 50px;
  padding: 0 20px 0 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav > ul > li {
  width: 15%;
  height: 35px;
  background-color: #fff;
  border: solid #E6E6E6 1px;
}

nav > ul > li > p, nav > ul > li > a {
  width: 100%;
  height: 100%;
  line-height: 35px;
  color: #000;
  display: block;
  cursor: pointer;
}

nav .list_title {
  margin-bottom: 10px;
  font-size: 1.5em;
  letter-spacing: 5px;
  color: #fff;
}

nav .cancel_button {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #D8F6CE;
  position: absolute;
  top: 20px;
  right: 5%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

nav .cancel_button span::before,
nav .cancel_button span::after {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 84%;
  height: 16%;
  margin: -8% 0 0 -42%;
  background: #A4A4A4;
}

nav .cancel_button span::before {
  transform: rotate(-45deg);
}

nav .cancel_button span::after {
  transform: rotate(45deg);
}

/*----------------------------------------
				select_product_category
----------------------------------------*/
#product_category_list {
  width: 100vw;
  height: 100vh;
  padding: 20px;
  background-color: rgba(159, 247, 129, 0.8);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

#large_category_list {
  width: 100%;
  height: 36px;
  line-height: 36px;
  margin: 0 auto 10px;
  display: flex;
  justify-content: space-between;
}

#large_category_list li {
  width: 170px;
  height: 100%;
  text-align: center;
  font-weight: 620;
  background-color: #D8F6CE;
}

#large_category_list li a {
  color: #000;
}

#small_category_area {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#small_category_area .small_category_list {
  width: 170px;
  color: #848484;
  background-color: #D8F6CE;
}

#small_category_area .small_category_list li {
  width: 100%;
  height: auto;
  padding: 15px;
  border-bottom: solid #A4A4A4 1px;
}

#small_category_area .small_category_list li a {
  width: 100%;
  height: 100%;
  color: #000;
  display: inline-block;
  cursor: pointer;
}

/*----------------------------------------
				select_bbs_category
----------------------------------------*/
/* CSS Document */
#bbs_category_list {
  width: 100vw;
  height: 100vh;
  padding: 20px;
  background-color: rgba(159, 247, 129, 0.8);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

#bbs_category_list ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#bbs_category_list li {
  width: 18%;
  height: 70px;
  line-height: 70px;
  margin-bottom: 20px;
  font-size: 1.3em;
  text-align: center;
  background-color: #D8F6CE;
}

#bbs_category_list li:nth-child(9) {
  font-size: 1.1em;
}

#bbs_category_list a {
  color: #000;
  display: block;
}

#bbs_category_list .list_title {
  margin-bottom: 50px;
}

nav {
  margin-bottom: 0px;
}

/*----------------------------------------
				footer
----------------------------------------*/
footer {
  width: 100%;
  height: 400px;
  padding: 40px 12% 10px 12%;
  color: #E6E6E6;
  background-color: #3cb371;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer h3 {
  font-size: 1.3em;
  padding-bottom: 10px;
  margin-bottom: 15px;
  border-bottom: solid #E6E6E6 1px;
}

footer li {
  font-size: 1.1em;
  margin-bottom: 20px;
}

footer a {
  color: #E6E6E6;
}

footer .guide, footer .about_of_masarudo, footer .linsk {
  width: 33.3%;
  padding-right: 60px;
  margin-bottom: 40px;
}

footer .trade_mark {
  width: 100%;
  text-align: center;
}

/*----------------------------------------
				body
----------------------------------------*/
#wrapper {
  width: 100vw;
}

#branding {
  width: 100%;
  height: 80vh;
  background: url(../images/image_materials/back.png) center center no-repeat;
  background-size: auto 100%;
}

#contents_area {
  width: 100%;
  padding: 20px;
}

#contents_area h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

#contents_area > ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.products {
  width: 32%;
  min-width: 300px;
  height: 180px;
  margin-bottom: 20px;
  background-color: #D8D8D8;
}

.products ul {
  overflow: hidden;
  position: relative;
}

.products li {
  float: left;
}

.products a {
  color: #000000;
}

li.product_img {
  height: 100%;
  margin-right: 10px;
}

li.product_name {
  width: 50%;
  height: 60px;
  min-width: 100px;
  margin: 15px 0 50px;
}

li.product_price {
  width: 40%;
  height: 60px;
  min-width: 80px;
}

li.favorite {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

#link_to_bbs {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 80px;
  right: 85px;
  transform: translate(-50%, -50%);
}

#link_to_bbs img {
  border-radius: 50%;
}
