/* CSS Document */
/*----------------------------------------
				reset
----------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, address, code, del, em,
img, ins, dl, dt, dd, ol, ul, li, form, label,
table, caption, tbody, tfoot, tfoot, thead, tr, th, td,
article, aside, canvas, footer, header, menu, nav, section
, summary, time, mark, audio, video {
  margin: 0px;
  padding: 0px;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

header, footer, menu, nav, section {
  display: block;
}

ol, ul {
  quotes: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  vertical-align: top;
  font-size: 0;
  line-height: 0;
}

input, select {
  vertical-align: middle;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/*----------------------------------------
				body
----------------------------------------*/
body {
  width: 100vw;
}

h1 {
  width: 60%;
  padding: 2px;
  margin: 0 auto 3vh;
  font-size: 2em;
  color: #5858FA;
  border-left: solid #819FF7 8px;
  border-bottom: solid #819FF7 2px;
}

h2 {
  font-size: 1.8em;
}

ul {
  width: 60%;
  margin: 0 auto;
}

li {
  list-style-position: inside;
  list-style-type: circle;
  margin-bottom: 20px;
}

a {
  color: #5858FA;
  text-decoration: none;
}

a:hover {
  color: #A9D0F5;
}

.flex {
  display: flex;
}

table {
  margin: 0 auto;
}

thead {
  font-weight: bold;
  text-align: center;
  background-color: #A9D0F5;
}

td {
  display: table-cell;
  vertical-align: middle;
}

div > table {
  width: 50%;
  line-height: 1.5em;
}

table.center {
  text-align: center;
}

table.header_left tr td:first-child {
  font-weight: bold;
  text-align: center;
  background-color: #A9D0F5;
}

tr, td {
  border: solid #000000 1px;
}

td {
  padding: 5px;
}

button {
  width: auto;
  height: 35px;
  font-size: 1em;
  padding: 5px 20px 5px 20px;
  background-color: #FACC2E;
  border: solid #DBA901 1px;
  border-radius: 16px;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.3);
}

div.button {
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

div.button p {
  margin-bottom: 1vh;
}

div.button button {
  text-align: center;
  margin-right: 10px;
}

div.button ul {
  width: 50%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

div.button li {
  margin: 0 auto;
}

#wrapper {
  width: 80%;
  padding-top: 3vh;
  margin: 0 auto;
}

/* CSS Document */
form {
  width: 100%;
  margin: 30px auto 30px;
  text-align: center;
}

form table {
  margin: 0 auto 30px;
}

form table tr, td:first-child {
  width: 200px;
}

form table tr, td:last-child {
  width: 350px;
  padding: 12px;
  border: solid #000000 1px;
}

form table tr td:first-child {
  background-color: #E0ECF8;
}

form table tr.birthday ul {
  display: flex;
  justify-content: center;
}

form table tr.birthday ul li {
  padding-left: 5px;
}

form table tr, td input {
  width: 80%;
}

form table span {
  font-size: 0.8em;
  color: #FE2E2E;
  margin-top: 10px;
}
