@charset "UTF-8";

/* reset */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin:0;
	padding:0;
  outline:0;
  border: none;
	font-size:100%;
	vertical-align:baseline;
}

body {
	line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
	display:block;
}

nav ul {
	list-style:none;
}

blockquote, q {
	quotes:none;
}

ol,ul{
	quotes: none;
}
li{
	list-style-type: none;
}

a {
  margin:0;
  padding:0;
  font-size:100%;
  text-decoration: none;
  vertical-align:baseline;
}

/* change colours to suit your needs */
mark {
  background-color:#ff9;
  color:#000;
  font-style:italic;
  font-weight:bold;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse:collapse;
  border-spacing:0;
}

/* change border colour to suit your needs */
hr {
  display:block;
  height:1px;
  border:0;
  border-top:1px solid #cccccc;
  margin:1em 0;
  padding:0;
}

select {
  vertical-align:middle;
  border: none;
}

img{
	vertical-align: top;
	font-size: 0;
	line-height: 0;
}

button{
	outline: 0;
}

*,*:before,*:after{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}



a{
  text-decoration: none;
  color: black;
}

header{
  background-color: #3cb371;
  height: 80px;
}
header img{
  padding-top: 8px;
  margin-left: 10px;
}

h1 {
  text-align: center;
  padding: 25px;
	font-size: 33px;
  font-weight: lighter;
}

#input{
  border: solid gray 1px;
  width: 35%;
  padding: 20px 50px;
  margin-bottom: 100px;
	margin: 0 auto;
}
#input p{
  font-size: 20px;
  line-height: 30px;
}
input{
	font-size: 20px;
}
#input p:nth-of-type(2) input, p:nth-of-type(4) input{  /* text box */
  height: 40px;
  width: 100%;
  margin-bottom: 25px;
}
#input p:nth-of-type(5) input{  /* login button */
  padding: 5px;
	font-size: 20px;
	margin-bottom: 30px;
}
#input p:nth-last-of-type(2) a,#input p:nth-last-of-type(3) a{  /* id,password忘れた */
	font-size: 17px;
}
#input p:nth-last-of-type(2) a{  /* パスワードを忘れた */
  position: relative;
  bottom: 30px;
  left: 220px;
}
#input p:nth-last-of-type(1) a{
  font-size: 28px;
}
#input p:nth-of-type(5), #input p:nth-last-of-type(1){
  text-align: center;
}

footer{
  height: 70px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  background-color: #3cb371;
}
