/* CSS Document */
/*----------------------------------------
				body
----------------------------------------*/
#wrapper {
  width: 100vw;
}

#contents_area {
  width: 100%;
  padding: 20px;
}

#contents_area h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

#contents_area > ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.products {
  width: 32%;
  min-width: 300px;
  height: 180px;
  margin-bottom: 20px;
  background-color: #D8D8D8;
}

.products ul {
  overflow: hidden;
  position: relative;
}

.products li {
  float: left;
}

li.product_img {
  height: 100%;
  margin-right: 10px;
}

li.product_name {
  width: 50%;
  height: 60px;
  min-width: 100px;
  margin: 15px 0 30px;
  border: solid #000000 1px;
}

li.product_price {
  width: 40%;
  height: 60px;
  min-width: 80px;
  border: solid #000000 1px;
}

li.favorite {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.pager {
  width: 100%;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}

.pager li {
  width: 40px;
  height: 40px;
  line-height: 29px;
  text-align: center;
  padding: 5px;
  border-radius: 3px;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.3);
}

.pager .page_number {
  width: 28%;
  margin: 0 50px 0 50px;
  display: flex;
  justify-content: space-between;
}

.pager .page_number li {
  font-size: 1.4em;
  background-color: #FACC2E;
}

.pager .move_page {
  width: 8%;
  display: flex;
  justify-content: space-between;
}

.pager .move_page li {
  background-color: #D8D8D8;
}
