@charset "utf-8";

*{
    margin: 0 auto;
    padding: 0px;
}
body{
  background-color: #E4E4E4;
  padding-bottom: 50px;
}

li {
    list-style-type: none;
    list-style-position: outside;
}
.top{
  display: flex;
  height: 40px;
  background-color: white;
  border-bottom: solid gray 1px;
}
.top p:nth-of-type(1){
  width: 70px;
}
.top p:nth-last-of-type(1){
  width: 95%;
  padding-top: 10px;
  color: gray;
}

.area{
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: white;
}

.area ul{
  display: flex;
  margin-bottom: 30px;
}
.area li{
  width: 150px;
  height: 150px;
  background-color: lightgray;
}

.area p{
  display: flex;
  padding-top: 5px;
  margin-bottom: 20px;
  text-align: right;
  font-size: 20px;
}
.area strong{
  width: 80%;
  text-align: left;
  position: relative;
  left: 0px;
  padding-top: 5px;
  padding-left: 30px;
  font-weight: normal;
}
.area span{
  width: 20%;
  padding-right: 30px;
}

.area p:nth-last-of-type(1){
  font-size: 30px;
}

.sell p{
  width: 50%;
  height: 60px;
  padding-top: 15px;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  background-color: #F68C8C;
  border-radius: 50px;
}
.sell a{
  color: white;
  text-decoration: none;
  display: block;
}
