/* CSS Document */
/*----------------------------------------
				body
----------------------------------------*/
body {
  background-color: #E4E4E4;
}

#wrapp {
  width: 100vw;
}

#wrapp > section, #wrapp > p {
  width: 80%;
  border: solid #000000 1px;
}

.pictures ul {
  display: flex;
  margin-top: 20px;
  margin-bottom: 50px;
}

.pictures li {
  width: 200px;
  height: 200px;
  background-color: white;
  display: block;
}

.pictures span {
  padding: 10px 15px;
  position: relative;
  top: 10px;
  background-color: lightgray;
}

.pictures .first {
  position: absolute;
  top: 125px;
  left: 65px;
}

.pictures .second {
  position: absolute;
  top: 110px;
  left: 260px;
}

.ten {
  background-color: #33AB53;
  height: 30px;
  width: 150px;
  padding-top: 5px;
  text-align: center;
  border-radius: 20px;
}

.ten a {
  color: #fff;
}

.green {
  width: 100%;
  font-size: 20px;
  color: #3CB371;
  font-weight: bold;
  padding: 5px;
}

.area {
  padding: 20px;
  margin-bottom: 50px;
  background-color: white;
}

.area p {
  display: flex;
  margin-bottom: 5px;
  font-size: 20px;
}

.area textarea {
  width: 100%;
}

.area span {
  width: 80%;
  padding-top: 5px;
}

.area a {
  width: 20%;
  color: gray;
  padding: 5px;
  text-align: right;
}

.one {
  margin-bottom: 50px;
}

.mny {
  background-color: #fff;
  margin-bottom: 50px;
  display: flex;
}

.mny input {
  height: 50px;
  position: relative;
  left: 580px;
  text-align: right;
}

.area:nth-last-of-type(1) span {
  width: 5%;
  text-align: right;
  position: absolute;
  right: 10px;
  padding-right: 20px;
}

.area:nth-last-of-type(1) p:nth-of-type(1) {
  margin-bottom: 20px;
}

.area:nth-last-of-type(1) p:nth-of-type(2) {
  font-size: 35px;
}

.out {
  width: 500px;
  height: 70px;
  text-align: center;
  background-color: #3CB371;
  border-radius: 40px;
}

.out a {
  color: #fff;
  font-weight: bold;
  font-size: 25px;
  padding-top: 18px;
}

/* .area input, .area textarea{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

} */
