/* CSS Document */
/*----------------------------------------
				reset
----------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  outline: 0;
  border: none;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

ol, ul {
  quotes: none;
}

li {
  list-style-type: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  text-decoration: none;
  vertical-align: baseline;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
  border: none;
}

img {
  vertical-align: top;
  font-size: 0;
  line-height: 0;
}

button {
  outline: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/*----------------------------------------
				body
----------------------------------------*/
#wrapp {
  width: 100vw;
  height: 100vh;
  background-color: #9FF781;
}

#category_list {
  width: 95%;
  margin: 0 auto;
}

#category_list > p {
  margin-bottom: 30px;
  font-size: 1.5em;
  text-align: center;
  color: #fff;
}

#large_category_list {
  width: 100%;
  margin: 0 auto 10px;
  display: flex;
  justify-content: space-between;
}

#large_category_list li {
  width: 170px;
  padding: 10px;
  text-align: center;
  border: solid #A4A4A4 1px;
  background-color: #D8F6CE;
}

#small_category_area {
  display: flex;
  justify-content: space-between;
}

.small_category_list {
  width: 170px;
  color: #848484;
  background-color: #D8F6CE;
  border: solid #A4A4A4 1px;
}

.small_category_list li {
  width: 170px;
  padding: 15px;
  border-bottom: solid #A4A4A4 1px;
}
