@charset "UTF-8";

// 変数宣言
$headerColor : #3cb371;
$globalNavHeight : 70px;
$navColor : #81F781;
$buttonColor : #FACC2E;
$nav_height : 50px;


header {
	width: 100%;
	height: $globalNavHeight;
	background-color: $headerColor;
	display: flex;
	justify-content: center;
	align-items: center;
	h1 {
		width: 30%;
		min-width: 200px;
		height: $globalNavHeight * 0.8;
		padding-left: 20px;
		img {
			width: auto;
			height: $globalNavHeight * 0.8;
		}
	}
	.header_search_area {
		width: 40%;
		min-width: 300px;
		height: 50px;
		position: relative;
		input {
			width: 80%;
			height: 50px;
			padding-left: 10px;
			margin-right: 0;
			background-color: #E6E6E6;
			border-radius: 10px 0 0 10px;
			outline: 0;
		}
		button {
			width: 20%;
			height: 50px;
			background-color: $buttonColor;
			border: none;
			border-radius: 0 10px 10px 0;
			position: absolute;
			top: 0;
			right: 0;
		}
	}
	.header_login_area {
		width: 30%;
		padding-left: 20px;
		display: flex;
		justify-content: space-around;
		p{
			width: 45%;
			max-width: 150px;
			height: 40px;
			font-size: 1em;
			margin-right: 15px;
			text-align: center;
			line-height: 40px;
			background-color: $buttonColor;
			border-radius: 8px;
			box-shadow: 3px 3px rgba(0,0,0,0.3);
		}
		a {
			color: #000;
			display: block;
		}
	}
}
/*----------------------------------------
				nav
----------------------------------------*/
nav {
	width: 100%;
	height: $nav_height;
	margin-bottom: 20px;
	text-align: center;
	background-color: $navColor;
	display: flex;
	justify-content: space-between;
	> ul {
		width: 100%;
		height: $nav_height;
		padding: 0 20px 0 20px;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		> li {
			width: 15%;
			height: $nav_height * 0.7;
			background-color: #fff;
			border: solid #E6E6E6 1px;
			> p, > a {
				width: 100%;
				height: 100%;
				line-height: $nav_height * 0.7;
				color: #000;
				display: block;
				cursor: pointer;
			}
		}
	}
	// button {
	// 	width: 100%;
	// 	height: 100%;
	// 	border-radius: 10px;
	// 	background-color: $buttonColor;
	// }
	.list_title {
		margin-bottom: 10px;
		font-size: 1.5em;
		letter-spacing: 5px;
		color: #fff;
	}
	.cancel_button {
		display: inline-block;
		width: 30px;
		height: 30px;
		background-color: #D8F6CE;
		position: absolute;
		top: 20px;
		right: 5%;
		border: 1px solid rgba(0,0,0,.1);
		cursor: pointer;
	}
	.cancel_button span::before,
	.cancel_button span::after {
		display: block;
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		width: 84%;
		height: 16%;
		margin: -8% 0 0 -42%;
		background: #A4A4A4;
	}
	.cancel_button span::before {
		transform: rotate(-45deg);
	}
	.cancel_button span::after {
		transform: rotate(45deg);
	}

}

/*----------------------------------------
				select_product_category
----------------------------------------*/
@import './select_product_category';

/*----------------------------------------
				select_bbs_category
----------------------------------------*/
@import './select_bbs_category';

