@charset "UTF-8";
/* CSS Document */

// 変数宣言
$bgColor : rgba(159,247,129,0.8);
$listBgColor :#D8F6CE;

#bbs_category_list {
	width: 100vw;
	height: 100vh;
	padding: 20px;
	background-color: $bgColor;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	ul {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}
	li {
		width: 18%;
		height: 70px;
		line-height: 70px;
		margin-bottom: 20px;
		font-size: 1.3em;
		text-align: center;
		background-color: $listBgColor;
	}
	li:nth-child(9) {
		font-size: 1.1em;
	}
	a {
		color: #000;
		display: block;
	}
	.list_title {
		margin-bottom: 50px;
	}
}