@charset "UTF-8";
/* CSS Document */

// 変数宣言
$headerColor : #3cb371;
$globalNavHeight : 70px;
$talk_me_color : #81F781;
$buttonColor : #FACC2E;
$bbsBackgroundColor : #EBEBEB;
// $buttonColor : #F4FA58;
$nav_height : 50px;

// 関数
@import './mixin';

/*----------------------------------------
				reset
----------------------------------------*/
@import './reset';

/*----------------------------------------
        header
----------------------------------------*/

body{
  width: 100vw;
  margin-top: 70px;
  background-color: $bbsBackgroundColor;
}
.wrapp{
  width: 80%;
  position: absolute;
  left: 10%;
  background-color: white;
}
.bbs_top{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 70px;
  background-color: $headerColor;
  ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    overflow: hidden;
    span{
      color:white;
    }
    h2{
      font-size: 2em;
      padding: 10px;
      display: block;
      background-color:white ;
    }
    .title{
      height: 50px;
    }
    button{
      height: 100%;
      border: none;
      background: transparent;
      img{
        height: 100%;
      }
    }
  }
}
/*----------------------------------------
        contents
----------------------------------------*/

.bbs_contents{
  .talk_image{
    height: 70px;
    border-radius: 50%;
  }
  span{
    font-size: 1.5em;
    font-weight: 700;
  }
  .me{
    .talk{
      position: relative; /* 三角の位置を固定するために設定 */
      left:35%;
      bottom: 30px;
      width: 300px; /* 幅 */
      margin: 0 auto 40px; /* 上 左右 下のマージン */
      padding: 20px; /* ふきだし内の余白 */
      background: $talk_me_color; /* 背景色 */
      border: 1px solid $talk_me_color;
      text-align: center; /* テキストの揃え */
      box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
      border-radius: 10px;
      &:before, &:after{
         content: '';
          width: 20px; /* 影をつけるために線幅で設定せずにboxを使用する */
          height: 20px;
          transform: rotate(45deg);
          position: absolute;
          right:0%;
          top: 0%;
          margin-top: 10px;
          margin-right: -10px;
      }
      &:before{
        background: $talk_me_color; /* 吹き出しの線と同じ色 */
        bottom: -10px;
      }
      &:after{
        background: $talk_me_color; /* 吹き出しの地と同じ色 */
        bottom: -9px; /* 線の太さだけずらす */
      }
    }
  }
  .you{
    margin: 20px;
   .talk{
      position: relative; /* 三角の位置を固定するために設定 */
      right:35%;
      bottom: 30px;
      width: 300px; /* 幅 */
      margin: 0 auto 40px; /* 上 左右 下のマージン */
      padding: 20px; /* ふきだし内の余白 */
      background: #fff; /* 背景色 */
      border: 1px solid #ddd;
      text-align: center; /* テキストの揃え */
      box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
      border-radius: 10px;
      &:before, &:after{
         content: '';
          width: 20px; /* 影をつけるために線幅で設定せずにboxを使用する */
          height: 20px;
          transform: rotate(45deg);
          position: absolute;
          left: 0%;
          top: 0%;
          margin-top: 10px;
          margin-left: -10px;
      }
      &:before{
        background: #ddd; /* 吹き出しの線と同じ色 */
        bottom: -10px;
      }
      &:after{
        background: #fff; /* 吹き出しの地と同じ色 */
        bottom: -9px; /* 線の太さだけずらす */
      }
   }
  }
}
/*----------------------------------------
        send_talk
----------------------------------------*/
.talk_send{
  position: fixed;
  background-color: white;
  left: 10%;
  bottom: 0px;
  width: 80%;
  border: solid 1px;
  form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  button{
    border: none;
    background: transparent;
    height: 50px;
    img{
      height: 100%;
    }
  }
  .send_text {
    margin: 30px;
		width: 50%;
    min-height: 50px;
    resize: vertical;
    border-radius:20px ;
    border: solid 1px;
		outline: 0;
	}

}
