@charset "UTF-8";
/* CSS Document */

// 変数宣言
$headerColor : #3cb371;

// 関数HTMLとCSSの記述のルールはこちらを参考
@import './mixin';
/*	----------reset---------- */
@import './reset';
/*	----------body----------	*/
body{
	margin-top: 100px;
	width: 100vw;
}
.wrapper{
	width: 100vw;
}
.bbs_top{
	height: 80px;
	width: 100%;
	position: fixed;
	top: 0px;
	background-color: $headerColor;
	border: solid 1px;
	align-items: center;
	ul{
		height: 100%;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
}
.title{
	height: 50px;
}
.talk_image{
	width: 50px;
	height: 50px;
	border-radius: 100%;
	border: solid 1px;
}

li.you{
		width: 40%;
		.talk{
			border: solid 1px;
			background-color: red;
		}
}