@charset "UTF-8";
/* CSS Document */

// 変数宣言
$headerColor : #3cb371;
$globalNavHeight : 70px;
$navColor : #81F781;
$buttonColor : #FACC2E;
// $buttonColor : #F4FA58;
$nav_height : 50px;

// 関数
@import './mixin';

/*----------------------------------------
				reset
----------------------------------------*/
@import './reset';

/*----------------------------------------
				header
----------------------------------------*/
h1 {
	width: 200px;
	height: $globalNavHeight * 0.8;
	margin-left: 20px;
	margin-right: 10%;
	// background-color: #fff;
	img {
		width: auto;
		height: $globalNavHeight * 0.8;
	}
}
#global_nav {
	width: 100%;
	height: $globalNavHeight;
	background-color: $headerColor;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
#header_search_area {
	width: 40%;
	min-width: 300px;
	height: 50px;
	position: relative;
	input {
		width: 80%;
		height: 50px;
		padding-left: 10px;
		margin-right: 0;
		background-color: #E6E6E6;
		border-radius: 10px 0 0 10px;
		outline: 0;
	}
	button {
		width: 20%;
		height: 50px;
		background-color: $buttonColor;
		border: none;
		border-radius: 0 10px 10px 0;
		position: absolute;
		top: 0;
		right: 0;
	}
}
#header_login_area {
	width: 30%;
	button{
		width: 150px;
		height: 40px;
		font-size: 1em;
		margin-right: 15px;
		background-color: $buttonColor;
		border-radius: 8px;
		box-shadow: 3px 3px rgba(0,0,0,0.3);
	}
}
/*----------------------------------------
				navi
----------------------------------------*/
nav {
	width: 100%;
	height: $nav_height;
	margin-bottom: 20px;
	text-align: center;
	background-color: $navColor;
	display: flex;
	justify-content: space-between;
	ul {
		width: 100%;
		height: $nav_height;
		padding: 0 20px 0 20px;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
	}
	li {
		width: 15%;
		height: $nav_height * 0.7;
		background-color: #fff;
		border: solid #E6E6E6 1px;
	}
	a {
		width: 100%;
		height: 100%;
		color: #000000;
		line-height: $nav_height * 0.7;
		display: block;
	}
	button {
		width: 100%;
		height: 100%;
		border-radius: 10px;
		background-color: $buttonColor;
	}
}
/*----------------------------------------
				footer
----------------------------------------*/
footer {
	width: 100%;
	height: 400px;
	padding: 40px 12% 10px 12%;
	color: #E6E6E6;
	background-color: $headerColor;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	h3 {
		font-size: 1.3em;
		padding-bottom: 10px;
		margin-bottom: 15px;
		border-bottom: solid #E6E6E6 1px;
	}
	li {
		font-size: 1.1em;
		margin-bottom: 20px;
	}
	a {
		color: #E6E6E6;
	}
	.guide,.about_of_masarudo,.linsk {
		width: 33.3%;
		padding-right: 60px;
		margin-bottom: 40px;
	}
	.trade_mark {
		width: 100%;
		text-align: center;
	}
}