@charset "UTF-8";
/* CSS Document */

// 変数宣言
$headerColor : #3cb371;
$productBgColor : #D8D8D8;
// 関数
@import './mixin';

/*----------------------------------------
				body
----------------------------------------*/
#wrapper {
	width: 100vw;
}
#branding {
	width: 75%;
	height: 350px;
	margin: 10px auto 40px;
	text-align: center;
}
#contents_area {
	width: 100%;
	padding: 20px;
	h2 {
		font-size: 1.5em;
		margin-bottom: 20px;
	}	> ul {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
}
.products {
	width: 32%;
	min-width: 300px;
	height: 180px;
	margin-bottom: 20px;
	background-color: $productBgColor;
	ul {
		overflow: hidden;
		position: relative;
	}
	li {
		float: left;
	}
	a {
		color: #000000;
	}
}
li.product_img {
	height: 100%;
	margin-right: 10px;
}
li.product_name {
	width: 50%;
	height: 60px;
	min-width: 100px;
	margin: 15px 0 50px;
	// border: solid #000000 1px;
}
li.product_price {
	width: 40%;
	height: 60px;
	min-width: 80px;
	// border: solid #000000 1px;
}
li.favorite {
	position: absolute;
	bottom: 10px;
	right: 10px;
}
#link_to_bbs {
	width: 50px;
	height: 50px;
	position: fixed;
	bottom: 80px;
	right: 85px;
	transform: translate(-50%, -50%);
	img {
		border-radius: 50%;
	}
}