@charset "UTF-8";
/* CSS Document */

// 変数宣言
$headerColor : #3cb371;
$productBgColor : #D8D8D8;
// 関数
@import './mixin';
@import './reset.scss';
@import './header';
@import './footer';


/* --------contents---------*/
body{
  width: 100vw;
  box-sizing: border-box;
}
.bbs_list{
  width: 80%;
  margin: 0 auto;
  li{
    width: 100%;
    border: solid 1px;
    height: 30vh;
    margin:10vh 0;
    h2{
      font-size: 3em;
      background-color: #C5E9BB;
      margin: 1%;
      padding: 20px;
      display: inline-block;
    }
    p{
      font-size: 2em;
    }
  }
}
