@charset "UTF-8";
/* CSS Document */

// 変数宣言
$headerColor : #3cb371;
$productBgColor : #D8D8D8;
$buttonColor : #FACC2E;

@import './mixin';
/*----------------------------------------
				reset
----------------------------------------*/

@import './reset';

/*----------------------------------------
				header
----------------------------------------*/
@import './header';
nav {
	margin-bottom: 0px;
}
/*----------------------------------------
				footer
----------------------------------------*/
@import './footer';

/*----------------------------------------
				body
----------------------------------------*/
#wrapper {
	width: 100vw;
}
#contents_area {
	width: 100%;
	padding: 20px;
	h2 {
		font-size: 1.5em;
		margin-bottom: 20px;
	}
	> ul {
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
	}
}
.products {
	width: 32%;
	min-width: 300px;
	height: 180px;
	margin-bottom: 20px;
	background-color: $productBgColor;
	&:nth-child(3n-1){
		margin:0 2%;
	}
	ul {
		overflow: hidden;
		position: relative;
	}
	li {
		float: left;
	}
}
li.product_img {
	height: 100%;
	margin-right: 10px;
}
li.product_name {
	width: 50%;
	height: 60px;
	min-width: 100px;
	margin: 15px 0 30px;
	padding: 20px;
}
li.product_price {
	width: 40%;
	height: 60px;
	min-width: 80px;
	padding: 20px;
}
li.favorite {
	position: absolute;
	bottom: 10px;
	right: 10px;
}
.pager {
	width: 100%;
	margin-bottom: 40px;
	display: flex;
	justify-content: center;
	li {
		width: 40px;
		height: 40px;
		line-height: 29px;
		text-align: center;
		padding: 5px;
		border-radius: 3px;
		box-shadow: 3px 3px rgba(0,0,0,0.3);
	}
	.page_number {
		width: 28%;
		margin: 0 50px 0 50px;
		display: flex;
		justify-content: space-between;
		li {
			font-size: 1.4em;
			background-color: $buttonColor;
		}
	}
	.move_page {
		width: 8%;
		display: flex;
		justify-content: space-between;
		li {
			background-color: $productBgColor;
		}
	}
}
