@charset "UTF-8";
/* CSS Document */

// 変数宣言
$headerColor : #3cb371;
$productBgColor : #D8D8D8;
// 関数
@import './mixin';

/*----------------------------------------
				body
----------------------------------------*/
#wrapper {
	width: 100vw;
}

footer {
	width: 100%;
	height: 80px;
	text-align: center;
	line-height: 80px;
	background-color: $headerColor;
}