@charset "UTF-8";
/* CSS Document */

// 変数宣言
$bgColor : #9FF781;
$listBgColor :#D8F6CE;

// 関数
@import './mixin';

/*----------------------------------------
				reset
----------------------------------------*/
@import './reset';

/*----------------------------------------
				body
----------------------------------------*/
#wrapp {
	width: 100vw;
	height: 100vh;
	background-color: $bgColor;
}
#topic_list {
	width: 95%;
	margin: 0 auto;
	> p {
		margin-bottom: 30px;
		font-size: 1.5em;
		color: #fff;
		text-align: center;
	}
	ul {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}
	li {
		width: 18%;
		height: 70px;
		line-height: 70px;
		margin-bottom: 20px;
		font-size: 1.3em;
		text-align: center;
		background-color: $listBgColor;
	}
	li:nth-child(9) {
		font-size: 1.1em;
	}
}