<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>発送方法</title>
  <link href="../css/s_send.css" rel="stylesheet" type="text/css">
</head>
<body>

  <section class="top">
    <p><a href="s_sell.html"><img src="../images/image_materials/arrow.png" width="40" alt="arrow"></a></p>
    <p>配送の方法</p>
  </section>

  <ul>
    <li><a href="s_sell.html">ゆうメール</a></li>
    <li><a href="s_sell.html">レターパック</a></li>
    <li><a href="s_sell.html">普通郵便（定形、定形外）</a></li>
    <li><a href="s_sell.html">クロネコヤマト</a></li>
    <li><a href="s_sell.html">ゆうパック</a></li>
    <li><a href="s_sell.html">クリックポスト</a></li>
    <li><a href="s_sell.html">ゆうパケット</a></li>
    <li><a href="s_sell.html">未定</a></li>
  </ul>


</body>
</html>
