<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>掲示板</title>
    <link rel="stylesheet" href="../css/bbs.css">
</head>
<body>
<div class="wrapp">
   <div class="bbs_top">
       <ul>
           <li><button class="history_back" type="button" onclick="history.back()"><img src="../images/image_materials/arrow.jpg" alt=""></button><span>掲示板</span></li>
           <li><h2 class="bbs_name">掲示板名</h2></li>
           <li><img class="title" src="../images/image_materials/logo.png" alt="まさる堂"></li>
       </ul>
   </div>
   <div class="bbs_contents">
    <ul>
        <li class="you"><img class="talk_image" src="../images/icons/yjimage.jpeg" alt=""><span>名前</span><p class="talk">トーク内容1</p></li>
        <li class="you"><img class="talk_image" src="../images/icons/yjimage.jpeg" alt=""><span>名前</span><p class="talk">トーク内容2</p></li>
        <li class="you"><img class="talk_image" src="../images/icons/yjimage.jpeg" alt=""><span>名前</span><p class="talk">トーク内容3</p></li>
        <li class="you"><img class="talk_image" src="../images/icons/yjimage.jpeg" alt=""><span>名前</span><p class="talk">トーク内容4</p></li>
        <li class="me"> <p class="talk">トーク内容5</p> </li>
    </ul>
    <div class="talk_send">
        <textarea class="send_text" name="text" cols="30"></textarea>
        <button type="submit"><img src="../images/image_materials/plane.jpg" alt=""></button></div>
   </div>
</div>aaaaaaa
</body>
</html>
