<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>掲示板</title>
    <link rel="stylesheet" href="../css/bbs.css">
</head>
<body>
   <div class="bbs_top">
       <ul>
           <li><button class="history_back" type="button" onclick="history.back()">＜</button>掲示板</li>
           <li><h2 class="bbs_name">掲示板名</h2></li>
           <li><img class="title" src="" alt="まさる堂"></li>
       </ul>
   </div>
   <div class="bbs_contents">
    <ul>
        <li class="you"><img class="talk_image" src="" alt=""><p class="talk">トーク内容1</p></li>
        <li class="you"><img class="talk_image" src="" alt=""><p class="talk">トーク内容2</p></li>
        <li class="you"><img class="talk_image" src="" alt=""><p class="talk">トーク内容3</p></li>
        <li class="you"><img class="talk_image" src="" alt=""><p class="talk">トーク内容4</p></li>
        <li class="me"> <p class="talk"></p> </li>
    </ul>
    <div class="talk_send"><input type="text"><button type="submit">送信</button></div>
   </div>
         </body>
</html>