<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>まさる堂</title>
    <link rel="stylesheet" href="../css/buy_procedures.css">
</head>

<body>
    <div id="wrapp">
        <div id="procedures_header">
            <p><img src="../images/image_materials/arrow.jpg" width="111" height="110" alt=""></p>
            <p>購入手続き</p>
        </div><!-- procedures_header -->
        <div id="about_of_product">
            <ul>
                <li class="image"><img src="../images/products/61Yyhwxq32L._AC_SL1200_.jpg" width="200" height="200" alt=""></li>
                <li class="name">商品名</li>
                <li class="carriage">送料込み</li>
                <li class="value">1300円</li>
            </ul>
        </div><!-- about_of_product -->
        <div id="use_cash">
            <div class="use_proceeds">
                <p>売上金の使用</p>
                <p>売上金：1000円</p>
                <p><a href="">売上金でポイントを購入</a></p>
            </div><!-- use_proceeds -->
            <div class="use_point">
                <p>ポイントの使用</p>
                <p>所持ポイント：0</p>
                <p>ポイントがありません</p>
            </div><!-- use_point -->
        </div><!-- use_cash -->
        <div id="payment">
            <div class="terms_of_payment">
                <p>支払い方法</p>
                <p>
                    <select name="">
                        <option value="">代金引換&nbsp;決済手数料：100円</option>
                        <option value="">銀行振込&nbsp;決済手数料：0円</option>
                        <option value="">クレジットカード決済&nbsp;決済手数料：0円</option>
                    </select>
                </p>
            </div><!-- use_proceeds -->
            <div class="payment_amount">
                <p>支払い金額</p>
                <p>1400円</p>
            </div><!-- use_point -->
        </div><!-- use_cash -->
        <div id="delivery_destination">
            <p>配送先</p>
            <p>大阪府大阪市北区梅田3-3-1</p>
        </div>
        <p>※配送先に間違いはありませんか？</p>
        <p><button><a href="./b_ok.html">購入する</a></button></p>
    </div><!-- wrapp -->
</body>

</html>