        <div id="global_nav">
                <h1><a href="./index.html"><img src="../images/image_materials/logo.png" width="308" height="77" alt="まさる堂ロゴ"></a></h1>            <div id="header_search_area">
                <input type="text" name="search" placeholder="何かお探しですか？">
                <button>検索</button>
            </div>
            <div id="header_login_area">
                <button>ログイン</button>
                <button>会員登録</button>
            </div>
        </div><!-- global_navi -->
        <nav>
            <ul>
                <li><a href="">ジャンル一覧</a></li>
                <li><a href="">掲示板一覧</a></li>
                <li><a href="">Q&A</a></li>
                <li><a href="">お問い合わせ</a></li>
            </ul>
            <button>文字/色変更</button>
        </nav><!-- top_navi -->

        <footer>
            <p>まさる堂</p>
            <p>掲示板</p>
        </footer>
    