<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>まさる堂</title>
</head>
<body>
    <div class="wrapp">
        <div class="top">
            <div class="top_navi">
                <ul>
                    <li><a href="">ジャンル一覧</a></li>
                    <li><a href="">サイトマップ</a></li>
                    <li><a href="">初めての方へ</a></li>
                    <li><a href="">お問い合わせ</a></li>
                    <li><a href="">購入</a></li>
                </ul>
            </div><!-- top_navi -->
        </div><!-- top --> 
        <div class="canvas">

        </div><!-- canvas -->
        <div class="left_navi">
            <ul>
                <li>test</li>
                <li>test</li>
                <li>test</li>
                <li>test</li>
            </ul>
            <ul>
                <li>test</li>
                <li>test</li>
                <li>test</li>
                <li>test</li>
            </ul>
        </div><!-- left_navi -->
        <div class="contents">
            <div class="product">
                <ul>
                    <li class="img"></li>
                    <li class="name"></li>
                    <li class="price"></li>
                </ul>
            </div>
        </div>
   </div><!-- wrapp -->
</body>
</html>