<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>まさる堂</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <div id="wrapp">
        <div id="global_nav">
            <h1><img src="" width="200" height="100" alt="まさる堂ロゴ"></h1>
            <div id="global_nav_in">
                <input type="text" name="search">
                <button>会員登録</button>
                <button>ログイン</button>
            </div>
        </div>
        <div class="top">
            <nav>
                <ul>
                    <li><a href="">ジャンル一覧</a></li>
                    <li><a href="">サイトマップ</a></li>
                    <li><a href="">初めての方へ</a></li>
                    <li><a href="">お問い合わせ</a></li>
                    <li><a href="">購入</a></li>
                </ul>
            </nav><!-- top_navi -->
        </div><!-- top --> 
        <div class="canvas">

        </div><!-- canvas -->
        <!-- <div class="left_navi">
            <ul>
                <li>レディース</li>
                <li>メンズ</li>
                <li>キッズ</li>
                <li>インテリア</li>
            </ul>
            <ul>
                <li>服</li>
                <li>帽子</li>
                <li>アクセサリ</li>
                <li>その他</li>
            </ul>
        </div>left_navi -->
        <div class="contents">
            <div class="product">
                <ul>
                    <li class="img">商品画像</li>
                    <li class="name">商品名</li>
                    <li class="price">商品価格</li>
                </ul>
            </div>
        </div>
    </div><!-- wrapp -->
</body>
</html>