<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>まさる堂</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <div id="wrapp">
        <div id="global_nav">
            <h1>まさる堂</h1>
            <div id="header_search_area">
                <input type="text" name="search" placeholder="何かお探しですか？">
                <button>検索</button>
            </div>
            <div id="header_login_area">
                <button>ログイン</button>
                <button>会員登録</button>
            </div>
        </div><!-- global_navi -->
        <div class="top">
            <nav>
                <ul>
                    <li><a href="">ジャンル一覧</a></li>
                    <li><a href="">サイトマップ</a></li>
                    <li><a href="">初めての方へ</a></li>
                    <li><a href="">お問い合わせ</a></li>
                    <li><a href="">購入</a></li>
                </ul>
            </nav><!-- top_navi -->
        </div><!-- top --> 
        <div class="canvas">
            
        </div><!-- canvas -->
        <div class="contents">
            <div class="product">
                <ul>
                    <li class="img">商品画像</li>
                    <li class="name">商品名</li>
                    <li class="price">商品価格</li>
                </ul>
            </div>
        </div>
    </div><!-- wrapp -->
</body>
</html>