<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>掲示板一覧</title>
  <link rel="stylesheet" href="../css/list_bbs.css">
</head>
<body>
<div id="global_nav">
    <h1><a href="./index.html"><img src="../images/image_materials/logo.png" width="308" height="77"
                alt="まさる堂ロゴ"></a></h1>
    <div id="header_search_area">
        <input type="text" name="search" placeholder="何かお探しですか？">
        <button>検索</button>
    </div>
    <div id="header_login_area">
        <button>ログイン</button>
        <button>文字/色変更</button>
    </div>
</div><!-- global_navi -->
<nav>
    <ul>
        <li><a href="">商品ジャンル一覧</a></li>
        <li><a href="">掲示板一覧</a></li>
        <li><a href="">出品</a></li>
        <li><a href="">マイページ</a></li>
    </ul>
</nav><!-- top_navi -->
<div class="contents">
  <h2>掲示板一覧</h2>
<form action="">
  <div class="search">
  <input type="text" placeholder="検索ワード" class="word_search"> <button type="submit"><img src="../images/image_materials/search.jpg" alt=""></button>
</div>
</form>
<ul class="list_genre">
  <li class="genre">雑談</li>
  <li class="genre">ニュース・経済</li>
  <li class="genre">国内・海外旅行</li>
  <li class="genre">家庭菜園</li>
  <li class="genre">ボランティア</li>
  <li class="genre">登山</li>
  <li class="genre">囲碁・将棋</li>
  <li class="genre">温泉巡り</li>
  <li class="genre">ウォーキング・ジョギング</li>
  <li class="genre">社交ダンス</li>
  <li class="genre">ピアノ</li>
  <li class="genre">神社・仏閣巡り</li>
  <li class="genre">英会話</li>
  <li class="genre">音楽鑑賞</li>
  <li class="genre">サイクリング</li>
  <li class="genre">読書</li>
  <li class="genre">スポーツ鑑賞</li>
  <li class="genre">料理・お菓子作り</li>
  <li class="genre">絵画</li>
  <li class="genre">写真</li>
</ul>
<div class="search_result">
  <ul class="thread_genre">
   <h2>雑談</h2>
    <li>
      <ul class="thread">
        <div class="flex">
          <li class="thread_title">タイトル</li>
          <li class="thread_day">作成日</li>
        </div>
        <li class="thread_text"><p>ここにテキストを入力</p></li>
      </ul>
    </li>
  </ul>
  <ul class="thread_genre">
    <h2>温泉巡り</h2>
    <li>
      <ul class="thread">
        <div class="flex">
          <li class="thread_title">タイトル</li>
          <li class="thread_day">作成日</li>
        </div>
        <li class="thread_text"><p>ここにテキストを入力</p></li>
      </ul>
    </li>
  </ul>
</div>
</div>
<footer>
        <div class="guide">
            <h3>ガイド</h3>
            <ul>
                <li><a href="">まさる堂ガイド</a></li>
                <li><a href="">よくあるご質問</a></li>
                <li><a href="">お問い合わせ</a></li>
            </ul>
        </div>
        <div class="about_of_masarudo">
            <h3>まさる堂について</h3>
            <ul>
                <li><a href="">会社概要</a></li>
                <li><a href="">プライバシーポリシー</a></li>
                <li><a href="">まさる堂利用規約</a></li>
                <li><a href="">特定商取引法に基づく表記</a></li>
                <li><a href="">古物営業法に基づく表記</a></li>
                <li><a href="">採用情報</a></li>
            </ul>
        </div>
        <div class="linsk">
            <h3>リンク</h3>
            <p><a href="">まさる堂ホームページ</a></p>
        </div>
        <div class="trade_mark">
            <p>まさる堂</p>
            <p>© Masarudo, Inc.</p>
        </div>
    </footer>
</body>
</html>