<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>まさる堂</title>
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
    <div id="wrapp">
            <h1><img src="" width="" height="" alt="まさる堂ロゴ"></h1>
		
		<div id="global_nav_in">
			<h2>ログイン</h2>
		<div id="login">
			<div id="pos">
				<p>ログインID</p>
				<input type="text" name="search">
				<p>パスワード</p>
				<input type="text" name="search"><br>
			</div>

				<div class="btn01">
					<button>ログイン</button>
				</div>

				<table>
				<tr>
				<td><p><a href="">ログインIDを忘れた</a></p></td><td><p><a href="">パスワードを忘れた</a></p></td>
				<tr>
				</table>

				<div class="btn01">
					<button>新規会員登録</button>
				</div>

				<!--
				<button>ログイン</button>
				<p><a href="">ログインIDを忘れた</a></p>
				<p><a href="">パスワードを忘れた</a></p>
				<button>新規会員登録</button>
				-->
		</div><!--login-->
        </div><!--grobal_nav_in-->
        <!-- ここ -->
    </div><!-- wrapp -->
</body>
</html>