<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>まさる堂</title>
    <link rel="stylesheet" href="../css/header_and_footer.css">
    <link rel="stylesheet" href="../css/product_view.css">
</head>

<body>
    <div id="wrapp">
        <div id="global_nav">
            <h1><a href="./index.html"><img src="../images/image_materials/logo.png" width="308" height="77"
                        alt="まさる堂ロゴ"></a></h1>
            <div id="header_search_area">
                <input type="text" name="search" placeholder="何かお探しですか？">
                <button>検索</button>
            </div>
            <div id="header_login_area">
                <button>ログイン</button>
                <button>文字/色変更</button>
            </div>
        </div><!-- global_navi -->
        <nav>
            <ul>
                <li><a href="">ジャンル一覧</a></li>
                <li><a href="">掲示板一覧</a></li>
                <li><a href="">出品</a></li>
                <li><a href="">マイページ</a></li>
            </ul>
        </nav><!-- top_navi -->
        <div id="main_area">
            <div id="contents_area">
                <h2>PC・タブレットの商品一覧</h2>
                <div class="pager">
                    <ul class="move_page">
                        <li>&lt;</li>
                        <li>&lt;&lt;</li>
                    </ul>
                    <ul class="page_number">
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                        <li>5</li>
                    </ul>
                    <ul class="move_page">
                        <li>&gt;</li>
                        <li>&gt;&gt;</li>
                    </ul>
                </div><!-- pager -->
                <ul>
                    <li class="products">
                        <a href="./product_deteals.html">
                            <ul>
                                <li class="product_img"><img src="../images/products/61Yyhwxq32L._AC_SL1200_.jpg"
                                        width="180px" height="180px" alt=""></li>
                                <li class="product_name">商品名</li>
                                <li class="product_price">商品価格</li>
                                <li class="favorite"><img src="../images/image_materials/hart.jpg" width="30"
                                        height="30" alt=""></li>
                            </ul>
                        </a>
                    </li>
                    <li class="products">
                        <a href="./product_deteals.html">
                            <ul>
                                <li class="product_img"><img src="../images/products/61Yyhwxq32L._AC_SL1200_.jpg"
                                        width="180px" height="180px" alt=""></li>
                                <li class="product_name">商品名</li>
                                <li class="product_price">商品価格</li>
                                <li class="favorite"><img src="../images/image_materials/hart.jpg" width="30"
                                        height="30" alt=""></li>
                            </ul>
                        </a>
                    </li>
                    <li class="products">
                        <a href="./product_deteals.html">
                            <ul>
                                <li class="product_img"><img src="../images/products/61Yyhwxq32L._AC_SL1200_.jpg"
                                        width="180px" height="180px" alt=""></li>
                                <li class="product_name">商品名</li>
                                <li class="product_price">商品価格</li>
                                <li class="favorite"><img src="../images/image_materials/hart.jpg" width="30"
                                        height="30" alt=""></li>
                            </ul>
                        </a>
                    </li>
                    <li class="products">
                        <a href="./product_deteals.html">
                            <ul>
                                <li class="product_img"><img src="../images/products/61Yyhwxq32L._AC_SL1200_.jpg"
                                        width="180px" height="180px" alt=""></li>
                                <li class="product_name">商品名</li>
                                <li class="product_price">商品価格</li>
                                <li class="favorite"><img src="../images/image_materials/hart.jpg" width="30"
                                        height="30" alt=""></li>
                            </ul>
                        </a>
                    </li>
                    <li class="products">
                        <a href="./product_deteals.html">
                            <ul>
                                <li class="product_img"><img src="../images/products/61Yyhwxq32L._AC_SL1200_.jpg"
                                        width="180px" height="180px" alt=""></li>
                                <li class="product_name">商品名</li>
                                <li class="product_price">商品価格</li>
                                <li class="favorite"><img src="../images/image_materials/hart.jpg" width="30"
                                        height="30" alt=""></li>
                            </ul>
                        </a>
                    </li>
                    <li class="products">
                        <a href="./product_deteals.html">
                            <ul>
                                <li class="product_img"><img src="../images/products/61Yyhwxq32L._AC_SL1200_.jpg"
                                        width="180px" height="180px" alt=""></li>
                                <li class="product_name">商品名</li>
                                <li class="product_price">商品価格</li>
                                <li class="favorite"><img src="../images/image_materials/hart.jpg" width="30"
                                        height="30" alt=""></li>
                            </ul>
                        </a>
                    </li>
                    <li class="products">
                        <a href="./product_deteals.html">
                            <ul>
                                <li class="product_img"><img src="../images/products/61Yyhwxq32L._AC_SL1200_.jpg"
                                        width="180px" height="180px" alt=""></li>
                                <li class="product_name">商品名</li>
                                <li class="product_price">商品価格</li>
                                <li class="favorite"><img src="../images/image_materials/hart.jpg" width="30"
                                        height="30" alt=""></li>
                            </ul>
                        </a>
                    </li>
                    <li class="products">
                        <a href="./product_deteals.html">
                            <ul>
                                <li class="product_img"><img src="../images/products/61Yyhwxq32L._AC_SL1200_.jpg"
                                        width="180px" height="180px" alt=""></li>
                                <li class="product_name">商品名</li>
                                <li class="product_price">商品価格</li>
                                <li class="favorite"><img src="../images/image_materials/hart.jpg" width="30"
                                        height="30" alt=""></li>
                            </ul>
                        </a>
                    </li>
                    <li class="products">
                        <a href="./product_deteals.html">
                            <ul>
                                <li class="product_img"><img src="../images/products/61Yyhwxq32L._AC_SL1200_.jpg"
                                        width="180px" height="180px" alt=""></li>
                                <li class="product_name">商品名</li>
                                <li class="product_price">商品価格</li>
                                <li class="favorite"><img src="../images/image_materials/hart.jpg" width="30"
                                        height="30" alt=""></li>
                            </ul>
                        </a>
                    </li>
                </ul>
            </div><!-- contents_area -->
            <div class="pager">
                <ul class="move_page">
                    <li>&lt;</li>
                    <li>&lt;&lt;</li>
                </ul>
                <ul class="page_number">
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                </ul>
                <ul class="move_page">
                    <li>&gt;</li>
                    <li>&gt;&gt;</li>
                </ul>
            </div><!-- pager -->
        </div>
        <footer>
            <div class="guide">
                <h3>ガイド</h3>
                <ul>
                    <li><a href="">まさる堂ガイド</a></li>
                    <li><a href="">よくあるご質問</a></li>
                    <li><a href="">お問い合わせ</a></li>
                </ul>
            </div>
            <div class="about_of_masarudo">
                <h3>まさる堂について</h3>
                <ul>
                    <li><a href="">会社概要</a></li>
                    <li><a href="">プライバシーポリシー</a></li>
                    <li><a href="">まさる堂利用規約</a></li>
                    <li><a href="">特定商取引法に基づく表記</a></li>
                    <li><a href="">古物営業法に基づく表記</a></li>
                    <li><a href="">採用情報</a></li>
                </ul>
            </div>
            <div class="linsk">
                <h3>リンク</h3>
                <p><a href="">まさる堂ホームページ</a></p>
            </div>
            <div class="trade_mark">
                <p>まさる堂</p>
                <p>© Masarudo, Inc.</p>
            </div>
        </footer>
    </div><!-- wrapp -->
</body>

</html>