<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>まさる堂</title>
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/product_deteals.css">
</head>

<body>
    <div id="wrapp">
        <div id="global_nav">
            <h1><a href="./index.html"><img src="../images/image_materials/logo.png" width="308" height="77"
                        alt="まさる堂ロゴ"></a></h1>
            <div id="header_search_area">
                <input type="text" name="search" placeholder="何かお探しですか？">
                <button>検索</button>
            </div>
            <div id="header_login_area">
                <button>ログイン</button>
                <button>会員登録</button>
            </div>
        </div><!-- global_navi -->
        <nav>
            <ul>
                <li><a href="">ジャンル一覧</a></li>
                <li><a href="">掲示板一覧</a></li>
                <li><a href="">出品</a></li>
                <li><a href="">お問い合わせ</a></li>
                <li><button>文字/色変更</button></li>
            </ul>
        </nav><!-- top_navi -->
        <div id="main_area">
            <p class="product_image"><img src="../images/products/61Yyhwxq32L._AC_SL1200_.jpg" width="400px"
                    height="400px" alt=""></p>
            <h2>商品名</h2>
            <div class="reaction">
                <ul>
                    <li>♡いいね！</li>
                    <li>0</li>
                </ul>
                <ul>
                    <li>コメント</li>
                    <li>2</li>
                </ul>
            </div><!-- reaction -->
            <div class="product_description">
                <h3>商品の説明</h3>
                <p>説明文</p>
            </div>
            <div class="product_information">
                <h3>商品の情報</h3>
                <table>
                    <tr>
                        <th>カテゴリー</th>
                        <td>家電&nbsp;&gt;&nbsp;PC・タブレット</td>
                    </tr>
                    <tr>
                        <th>商品の詳細</th>
                        <td>新品、未使用</td>
                    </tr>
                    <tr>
                        <th>配送料の負担</th>
                        <td>送料込（出品者負担）</td>
                    </tr>
                    <tr>
                        <th>配送の方法</th>
                        <td>未定</td>
                    </tr>
                    <tr>
                        <th>発送元の地域</th>
                        <td>大阪府</td>
                    </tr>
                    <tr>
                        <th>発送までの日数</th>
                        <td>1~2日で発送</td>
                    </tr>
                </table>
            </div>
            <div class="exhibitor">
                <h3>出品者</h3>
                <ul>
                    <li><img src="" width="" height="" alt=""></li>
                    <li>出品者名</li>
                </ul>
            </div>
            <div class="comment">
                <h3>コメント</h3>
                <p><button>コメントする</button></p>
            </div>
            <div class="related_goods">
                <h3>関連商品</h3>
                <ul>
                    <li class="goods">
                        <ul>
                            <li><img src="../images/products/61Yyhwxq32L._AC_SL1200_.jpg" width="200px" height="200px" alt=""></li>
                            <li>￥1000</li>
                        </ul>
                    </li>
                    <li class="goods">
                        <ul>
                            <li><img src="../images/products/61Yyhwxq32L._AC_SL1200_.jpg" width="200px" height="200px" alt=""></li>
                            <li>￥1000</li>
                        </ul>
                    </li>
                    <li class="goods">
                        <ul>
                            <li><img src="../images/products/61Yyhwxq32L._AC_SL1200_.jpg" width="200px" height="200px" alt=""></li>
                            <li>￥1000</li>
                        </ul>
                    </li>
                    <li class="goods">
                        <ul>
                            <li><img src="../images/products/61Yyhwxq32L._AC_SL1200_.jpg" width="200px" height="200px" alt=""></li>
                            <li>￥1000</li>
                        </ul>
                    </li>
                    <li class="goods">
                        <ul>
                            <li><img src="../images/products/61Yyhwxq32L._AC_SL1200_.jpg" width="200px" height="200px" alt=""></li>
                            <li>￥1000</li>
                        </ul>
                    </li>
                    <li class="goods">
                        <ul>
                            <li><img src="../images/products/61Yyhwxq32L._AC_SL1200_.jpg" width="100px" height="100px" alt=""></li>
                            <li>￥1000</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <footer>
            <p>まさる堂</p>
        </footer>
    </div><!-- wrapp -->
</body>

</html>