<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>大カテゴリー</title>
  <link href="../css/s_category1.css" rel="stylesheet" type="text/css">
</head>
<body>

  <section class="search">
    <p><a href="s_sell.html"><img src="images/arrow.jpg" width="40" alt="arrow"></a></p>
    <p><img src="image/search.jpg" width="30" alt="search"></p>
    <p>カテゴリー検索</p>
  </section>

  <ul>
    <li><a href="s_category2.html">レディース</a></li>
    <li><a href="s_category2.html">メンズ</a></li>
    <li><a href="">キッズ</a></li>
    <li><a href="">インテリア・住まい</a></li>
    <li><a href="">家電</a></li>
    <li><a href="">ホビー・娯楽</a></li>
    <li><a href="">ハンドメイド</a></li>
  </ul>

</body>
</html>
