<!doctype html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>商品情報確認</title>
<link href="../css/s_check.css" rel="stylesheet" type="text/css">
</head>
<body>

  <section class="top">
    <p><a href="s_sell.html"><img src="../images/image_materials/arrow.jpg" width="40" alt="arrow"></a></p>
    <p>発送までの日数</p>
  </section>

  <section class="area">
    <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

    <p><strong>商品名</strong><span>Photoshop</span></p>
    <p><strong>商品の説明</strong><span>画像編集ソフト</span></p>
    <p><strong>カテゴリー</strong><span>家電・PC・タブレット</span></p>
    <p><strong>商品の状態</strong><span>新品、未使用</span></p>
    <p><strong>配送の負担</strong><span>送料込み（出品者負担）</span></p>
    <p><strong>配送の方法</strong><span>レターパック</span></p>
    <p><strong>発送元の地域</strong><span>大阪府</span></p>
    <p><strong>発送までの日数</strong><span>２～３日で発送</span></p>
    <p><strong>販売価格</strong><span>1300円</span></p>
    <p><strong>販売利益</strong><span>1170円</span></p>

  </section>

  <section class="sell">
    <p><a href="s_ok.html">出品する</a></p>
  </section>

</body>
</html>
