<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>コメント</title>
  <link href="../css/s_comment.css" rel="stylesheet" type="text/css">
</head>
<body>

  <section class="top">
    <p><a href="s_sell.html"><img src="../images/image_materials/arrow.jpg" width="40" alt="arrow"></a></p>
    <p>コメント</p>
  </section>

  <p class="hint">商品についての気になることなどを質問しましょう。</p>

  <section class="send">
    <p>　　</p>
    <p><img src="image/plane.jpg" width="40"></p>
  </section>

</body>
</html>
