<!doctype html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>送料</title>
<link href="../css/s_price.css" rel="stylesheet" type="text/css">
</head>
<body>

  <section class="top">
    <p><a href="s_sell.html"><img src="../images/image_materials/arrow.jpg" width="40" alt="arrow"></a></p>
    <p>配送料の負担</p>
  </section>

  <p class="hint">送料込みにすると売れやすくなります</p>

  <ul>
    <li><a href="s_sell.html">送料込み（出品者負担）</a></li>
    <li><a href="s_sell.html">着払い（購入者負担）</a></li>
  </ul>


</body>
</html>
