<!doctype html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>出品ページ</title>
<link href="../css/s_sell.css" rel="stylesheet" type="text/css">
</head>
<body>

  <section class="top">
    <p><a href=""><img src="../images/image_materials/arrow.png" width="40" alt="arrow"></a></p>
    <p>商品の情報を入力</p>
  </section>

  <section class="pictures">
    <ul>
      <li><span>1</span><img class="first" src="../images/image_materials/sell.png" width="100">（必須）</li>
      <li><span>2</span><img class="second" src="../images/products/camera.jpg" width="150"></li>
      <li><span>3</span></li>
      <li><span>4</span></li>
      <li><span>5</span></li>
      <li><span>6</span></li>
    </ul>
  </section>

  <p class="ten"><a href="s_tenplate.html">テンプレート</a></p>

  <p class="green">商品名と説明</p>
  <section class="area">
    <p>商品名</p>
    <input class="one" type="text" name="name" placeholder="（必須、400文字まで）">
    <p>商品の説明</p>
    <textarea rows="6" cols="185" name="about" placeholder="（任意、1000文字まで）
（色、素材、重さ、定価、注意点など）

例：2010年頃に1万円で購入したジャケットです。
ライトグレーで傷はありません。合わせやすいのでおすすめです。"></textarea>
  </section>

  <p class="green">商品の詳細</p>
  <section class="area">
    <p><span>カテゴリー</span><a href="s_category1.html">（必須）</a></p>
    <p><span>商品の状態</span><a href="s_jyoutai.html">（必須）</a></p>
  </section>

  <p class="green">配送について</p>
  <section class="area">
    <p><span>配送の負担</span><a href="s_price.html">（必須）</a></p>
    <p><span>配送の方法</span><a href="s_send.html">未定</a></p>
    <p><span>発送元の地域</span><a href="s_place.html">選ぶ</a></p>
    <p><span>発送までの日数</span><a href="s_day.html">選ぶ</a></p>
  </section>

  <p class="green">販売価格（300～9,999,999）</p>
  <section class="mny">
    <p><input type="text" name="" placeholder="￥0"></p>
  </section>

  <section class="area">
    <p>販売手数料<span>-</span></p>
    <p>販売利益<span>-</span></p>
  </section>

  <p class="out"><a href="./s_check.html">出品する</a></p>

</body>
</html>
