<!doctype html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>テンプレート</title>
<link href="css/s_tenplate.css" rel="stylesheet" type="text/css">
</head>
<body>

  <section class="top">
    <p><a href="s_sell.html"><img src="../images/image_materials/arrow.jpg" width="40" alt="arrow"></a></p>
    <p>テンプレート</p>
  </section>

  <section class="area"><a href="s_sell.html">
    <p>例）Tシャツ</p>
    <p>○○(ブランド名)のロゴ入りホワイトTシャツです。似たようなTシャツを先日購入した為出品します。カジュアルなシーンで着回ししやすいデザインです。</p>
    <ul>
      <li class="first">●サイズ：Mサイズ</li>
      <li>肩幅○○cm</li>
      <li>身幅○○cm</li>
      <li>着丈○○cm</li>
      <li>素人採寸ですので若干の誤差はご了承ください。</li>
      <li class="first">●素材：</li>
      <li>表地　ナイロン100%</li>
      <li>浦地　ポリエステル100%</li>
      <li class="first">●状態:</li>
      <li>２～３回着用しましたが汚れ、ほつれなどはありません。中古品ということをご理解いただいた上でご購入をお願いします。</li>
      <li class="first">●その他、注意事項</li>
      <li>自宅マンションにて保管していました。細かいデザインなどは写真にてご確認ください。</li>
    </ul>
  </a></section>

  <section class="area"><a href="s_sell.html">
    <p>例）本</p>
    <p>定価○○円</p>
    <ul>
      <li>●状態：</li>
      <li>数日前に書店で購入し、カバーを外さずに一度だけ読みました。</li>
      <li>●カバー：あり・帯あり</li>
      <li>●ヤケ：なし</li>
      <li>●ヨレ：なし</li>
      <li>●スレ：なし</li>
      <li>●折り目：なし</li>
      <li>●その他、注意事項</li>
    </ul>
    <p>こちらの商品は即購入していただいて構いません。中古品ということをご理解の上ご検討ください。</p>
  </a></section>

  <section class="area"><a href="s_sell.html">
    <p>例）バッグ</p>
    <p>○○（ブランド名）のハンドバッグでカラーは○○です。2018年の1月頃購入し、○○円でした。2回使用したのみですので美品です。</p>
    <ul>
      <li class="first">●サイズ：</li>
      <li>縦幅　○○cm</li>
      <li>横幅　○○cm</li>
      <li>マチ　○○cm</li>
      <li class="first">●素材：牛革</li>
      <li class="first">●付属品：</li>
      <li>箱をお付けしますが、不要の場合はお値引き出来ますのでコメントください。</li>
      <li class="first">●その他、注意事項</li>
      <li>傷や汚れなどありませんが写真をご確認の上、中古品ということをご理解いただきご購入をお願いします。</li>
    </ul>
  </a></section>

</body>
</html>
