<!doctype html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>まさる堂</title>
  <link href="../css/select_bbs_category.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div id="wrapp">
    <div id="topic_list">
      <p>掲示板一覧</p>
      <ul>
        <li>雑談</li>
        <li>ニュース・経済</li>
        <li>国内・海外旅行</li>
        <li>家庭菜園</li>
        <li>ボランティア</li>
        <li>登山</li>
        <li>囲碁・将棋</li>
        <li>温泉巡り</li>
        <li>ウォーキング・ジョギング</li>
        <li>社交ダンス</li>
        <li>ピアノ</li>
        <li>神社・仏閣巡り</li>
        <li>英会話</li>
        <li>音楽鑑賞</li>
        <li>サイクリング</li>
        <li>読書</li>
        <li>スポーツ観戦</li>
        <li>料理・お菓子作り</li>
        <li>動画</li>
        <li>写真</li>
      </ul>
    </div>
  </div>

</body>

</html>